<h2>Hello World</h2>
<p>
    <a href="<?php echo $block->getLandingsUrl(); ?>">Go to landingsURL</a>
</p>
<p>
    <a href="<?php echo $block->getRedirectUrl(); ?>">Go to redirectURL</a>
</p>
<p>
    <?php echo __('Test translation') ?>
</p>